html,body{
    height:90vh;
    width:100vw;
    background-color: gray;
    background-image: url('Images/BackgroundImage.png');
    background-position: 0%
    9%;
    background-size: cover;
    background-repeat: no-repeat;
}
*{
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
}
.nav-link .navbar-brand{
    color:white !important;
}
.navbar-brand{
    font-size: 3vw !important;
}
.nav-link{
    font-size: 1.3vw;
}
.content 
{
    margin-top: 17vw;
    margin-bottom: 35vw;;
}
h1{
    font-size:5vw !important;
}
p{
    font-size: 22px;
    text-align: center;
}
.parallax{
    height: 30vw;
    background-image: url('Images/739905.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    display:flex;
    align-items: center;
}
input[type="text"]
{
    width: 22vw;
}
textarea{
    width: 25vw;
}
.parallax2{
    height: 40vw;
    background-image: url('Images/pexels-photo-91229.jpeg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:white;
    display: flex;
    align-items: center;
}
.parallax2 h2{
    color:black;
    padding-bottom: 5vh ;
}
.parallax2 p{
    color:black;
    font-size: 1.4vw;
}
.btn1{
    float:left;
    background-color: transparent !important;
    color: black !important;
}
.btn2{
    float: right;
    background-color: transparent !important;
    color: black !important;
}